<div class="row" *ngIf="recipes && recipes.vegetarian">
  <h3>Vegetarian</h3>
  <div class="col-sm-6 col-md-3" *ngFor="let vegDesert of recipes.vegetarian">
    <div class="thumbnail">
      <img src="{{vegDesert.image}}" alt="...">
      <div class="caption">
        <h3>{{vegDesert.recipe_name}}</h3>
      </div>
    </div>
  </div>
	
	

</div>


<div class="row" *ngIf="recipes && recipes.nonvegetarian">
  <h3>Non Vegetarian</h3>
  <div class="col-sm-6 col-md-3" *ngFor="let nonvegDesert of recipes.nonvegetarian">
    <div class="thumbnail">
      <img src="{{nonvegDesert.image}}" alt="...">
      <div class="caption">
        <h3>{{nonvegDesert.recipe_name}}</h3>
      </div>
    </div>
  </div>

</div>