<div>
  <button class="btn btn-primary" [routerLink]="['/recipeList']">Back to the courses</button>
</div>
<div class="row" *ngIf="recipes && recipes.vegetarian">
  <div class="display-header">
	  <h3 class="display-inline">Vegetarian</h3>
	  <input type="text" class="form-control input-type" [(ngModel)]='vegDesertFilter' placeholder="Search for veg deserts"/>
	  <hr style="clear:both;"/>
	</div>
  <div class="col-sm-6 col-md-3" *ngFor="let vegDesert of recipes.vegetarian | searchFilter : vegDesertFilter">
    <div class="thumbnail" style="height: 228px;">
		  <a [routerLink]="['/selectedRecipe', 'desert', vegDesert.recipe_alias]">
        <img style="height: 144px;width: 241px;" src="{{vegDesert.image}}" alt="...">
        <div class="caption">
          <h4>{{vegDesert.recipe_name}}</h4>
        </div>
			</a>
    </div>
  </div>
</div>


<div class="row" *ngIf="recipes && recipes.nonvegetarian">
  <div class="display-header">
	  <h3 class="display-inline">Non Vegetarian</h3>
	  <input type="text" class="form-control input-type" [(ngModel)]='nonvegDesertFilter' placeholder="Search for non veg deserts"/>
	  <hr style="clear:both;"/>
	</div>
  <div class="col-sm-6 col-md-3" *ngFor="let nonvegDesert of recipes.nonvegetarian | searchFilter : nonvegDesertFilter">
    <div class="thumbnail" style="height: 228px;">
		  <a [routerLink]="['/selectedRecipe', 'desert', nonvegDesert.recipe_alias]">
        <img style="height: 144px;width: 241px;" src="{{nonvegDesert.image}}" alt="...">
        <div class="caption">
          <h4>{{nonvegDesert.recipe_name}}</h4>
        </div>
			</a>
    </div>
  </div>
</div>